.carousel{
    width: 75vw;
    height: 80vh;
    overflow-y: hidden !important;
    padding-top: 2rem;
    border-radius: 6px;
}

.c-img{
    overflow-y: hidden !important;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.c-item{
    width: 100vw;
}

.c-caption{
    padding-top: 1px  !important;
    color:black;
}
